ul li a:hover {
    color: greenyellow;
}
nav ul {
    list-style: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
nav ul li {
    display: inline;
    padding: 20px;
    line-height: 60px;
}
nav ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
